*{
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  background:#1c0522;
  overflow-x: hidden ;
  width: 100%;
}
header{
  position: absolute ;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;/*coloca la barra de navegacion por encima de todo permitiendo que el :hover funcione*/

}
header .logo{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  list-style: none;
  margin-left: 20px;
}
header ul li a{
  text-decoration: none;
  padding: 6px 15px  ;
  color: #fff;
  border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
  background: #fff;
  color: #2b1055;
}

section{
  position: relative;
  width: 100% ;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
section::before{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#1c0522, transparent);
  z-index: 1000;
}

section img{
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;

  display: block;
  width: 100%;
  height: auto;

}

section img#moon{
  mix-blend-mode: screen;
}
section img#mountains_front{
  z-index: 10;
}

#text{
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 8vw;
  z-index: 11;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: -90px;
}
#btn{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background:#fff;
  color:#2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}
.sec{
  position: relative;
  padding: 100px;
  background:#1c0522;
  margin-top: -10px;
}

.About{
  font-size: 50px;
  color: #fff;
  margin-bottom: 30px;
  
}
.projects{
  font-size: 50px;
  color: #fff;
  margin-top: -200px;
  position: absolute;
  margin-left: 200px;
}
.sec p{
  font-size: 1.2em;
  color: #fff;

}
.oscuro{
  background: linear-gradient(#000000,#d8dff0);
  
}


.sec2{
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
  
}
.row{
  display: flex;
  justify-content: space-between;
  background:#1c0522;
  height: 100%;

}
.project1{
  position: relative;
  margin-left: 20px;
}
.project1 .first{
  margin-left:-90;
}




.overlay {
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 230px;
  width: 330px;
  opacity: 0;
  transition: .2s ease;
  background-color: #412044;
}


.project1:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




footer{
  width: 100%;
  height: 100px;
  background-color:#100011;
  padding: 40px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}

.icon-instagram{
  margin-left: 60px;
}




.u-center {
    
    height: 100%;
}

.skills {
  margin-top: -150px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.skill {
    margin: 1em 0;
    position: relative;
    width: 60.5em;
}
.Skil-text{
  margin-top: 90px;
}

.skill__type {
    color: #fff;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .145em;
    text-transform: uppercase;
    width: 5em;
}

.skill__outer-bar, .skill__inner-bar {
    height: .75em;
}

.skill__outer-bar {
    margin-top: 1em;
    background: #333;
}

.skill__inner-bar {
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

.skill__inner-bar--100 {
    width: 100%;
    background: #275dff;
}
.skill__inner-bar--90 {
    width: 90%;
    background: #6c19fb;
}
.skill__inner-bar--80 {
    width: 30%;
    background: #4fa8ab;
}
.skill__inner-bar--70 {
    width: 50%;
    background: #ec695f;
}
.skill__inner-bar--60 {
    width: 9%;
    background: #cd9b9b;
}

@keyframes fillBar {
    to {
        transform: scaleX(1);
    }
}